<div class="row">
	<div class="eight columns offset-by-four alpha">
		<form class="pure-form pure-form-aligned" id="login-form" ng-submit="submit()">
			<fieldset>
				<legend>Log In</legend>
				<div class="pure-control-group">
					<label for="username">Username</label>
					<input type="text" ng-model="username">
				</div>
				<div class="pure-control-group">
					<label for="password">Password</label>
					<input type="password" ng-model="password">
				</div>
				<div class="pure-controls">
					<button type="submit" class="pure-button pure-button-primary">Log in</button>
					<p>First time here? <a href="/api/setup">Run the first–time setup.</a></p>
				</div>
			</fieldset>
		</form>
	</div>
</div>
