<div class="four columns alpha" id="nav">
	<div class="pure-menu pure-menu-open">
		<a class="pure-menu-heading">Pond</a>
		<ul>
			<li><a href="#/subsciptions">Subscriptions</a></li>
			<li class="pure-menu-selected"><a href="#/preferences">Preferences</a></li>
			<li class="pure-menu-separator"></li>
			<li><a ng-click="logout()" href="#">Log Out</a></li>
		</ul>
	</div>
</div>
<div class="twelve columns omega">
	<div class="row">
		<div class="eight columns offset-by-two">
			<form ng-submit="submit()" id="prefs-form" class="pure-form pure-form-stacked">
				<div class="row">
					<label for="interval-select">Download new articles every</label>
						<select ng-options="i.value as i.label for i in intervalOptions" ng-model="refresh_rate" id="interval-select">
						</select>
				</div>
				<div class="row">
						<select ng-options="n.value as n.label for n in newUserPermsOptions" ng-model="new_user_permissions" id="user-perms-select">
						</select>
					<label for="user-perms-select">can create new accounts</label>
				</div>
				<a class="pure-button pure-button-primary" ng-click="submit()">Save</a>
		</form>
		</div>
	</div>
</div>

